{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid mt-5">
    <div class="card">
  <div class="card-header h5">
    Note shared: <q style="color: deeppink ;">About</q>
  </div>
  <div class="card-body">
    <h6 class="card-title text-success">About</h6>
    <p class="card-text ml-5">Note share is an document sender project helping to create a world in which everyone can freely share in
        the sum of all knowledge. <br> It is supported by the 'Code Width Sadique' Foundation and based on a model of freely send document,
        File, Folder, and etc.<br>Note share is an document sender project helping to create a world in which everyone can freely share in
        the sum of all knowledge.
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title" style="color: #e91e63 ;">Note Shared</cite></footer>
      <a href="#" class="btn btn-primary float-right">Read More >></a>
  </div>
</div>
    </div>

{% endblock %}