<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg  sticky-top navbar-dark  shadow-sm" style="background-color:transparent">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand ml-5" href="{% url  'header' %}"><img src="{% static 'logo.jfif' %}" alt="" height="90px" style="border-radius:40px;" ></a>


      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-secondary mr-5" href="{% url 'about' %}">About</a>
        </li>

          {% if user.is_authenticated  %}
              <li class="nav-item">
                <a class="nav-link ml-3 text-secondary " href="{% url 'logout' %}">Logout</a>
              </li>
           {% else %}

              <li class="nav-item dropdown">
                  <a class="btn btn-secondary dropdown-toggle mr-5" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    User
                  </a>
                  <ul class="dropdown-menu mt-2 mr-3" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'signup' %}">Signup</a></li>
                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                  </ul>
              </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>


{% block content  %} {% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>